<html>
    <head>
        <link rel="stylesheet" href="/public/css/main.css">
        </head>
  <body>
    <h1><a class="active" href="../index.html">NotationPlus</a></h1>
        <ul>
            <h3>Login</h3>
            <div class = "login-content">
                
                <form action = '/user/login' method = 'POST'>
                    <table>
                        <tr>
                            <td><label for="email">Email Address</label></td>
                            <td><input type="email" id="email" name="email" class = "fixed-width" required></td>
                        </tr>
                        <tr>
                            <td><label for="password">Password</label></td>
                            <td><input type="password" id="password" name="password" class = "fixed-width"  minlength = "8" maxlength = "16" required></td>
                        </tr>
                        
                        <tr>
                            <td colspan="2" class = "align-right"><button>Login</button></td>
                        </tr>
                    </table>        
                </form>
            
                </div>

        </ul>

  </body>
</html>