<html>
    <head>
        <link rel="stylesheet" href="/public/css/main.css">
        </head>
  <body>

        <div class="topnavbar">
            <a class="active" href="/views/index.html"> < Back </a>
    
      </div>

<div class = "login-content">
    <form action = '#'>
        <table>
            <tr>
                <td><label for="firstName">First Name</label></td>
                <td><input type="text" id="firstName" name="firstName" class = "fixed-width" required></td>
            </tr>
            <tr>
                <td><label for="lastName">Last Name</label></td>
                <td><input type="text" id="lastName" name="lastName" class = "fixed-width" required></td>
            </tr>

            <tr>
                <td><label for="email">Email Address</label></td>
                <td><input type="email" id="email" name="email" class = "fixed-width" required></td>
            </tr>
            <tr>
                <td><label for="password">Password</label></td>
                <td><input type="password" id="password" name="password" class = "fixed-width" minlength="8" maxlength="16" required></td>
            </tr>
            
            <tr>
                <td colspan="2"><button id='signUpButton' class="signUp">Sign Up</button>
                </td>
            </tr>
        </table>        
    </form>

    </div>
  </body>
  <script src="/scripts/signup.js"></script>
</html>
