<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/public/css/main.css">
    <meta charset="UTF-8">
</head>

<body>
    <div class="topnavbar">
        <a class="active" href="index.html"style="padding-left:3px;"> < Back |</a>
    </div>

     <div class="container">
         <div class="search-box" style = "padding: 5px">
             <input type="text" class="uh" placeholder="Type the word here..." id="inp-word"/>
             <button class="lookup" id="search-btn">Search</button>
         </div>
         <div class="result" id="result" style = "padding-left: 5px"></div>

    <script defer src="/scripts/dictionary.js"></script>


</body>
</html>