<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
    <h1></h1>
    <form id="userForm">
        <div id="genre-question-container">
          <h1 id="genre-question"></h1>
          <label>
            <input type="radio" class="radio-button" name="question" value="1"> <!--Updated this to actually work. CSP doesn't like inlines so the function was moved to form.js-->
            <span class="radio-button-label">Yes</span>
          </label>
          <label>
            <input type="radio" class="radio-button" name="question" value="0">
            <span class="radio-button-label">No</span>
          </label>
        </div>
      </form>
<div id="generation-container"><h1></h1></div> <!--If i make this "genre-question-container, it breaks stuff. So it works this way instead. Pretty sure this is intended."-->
    <script src="/scripts/form.js"></script>
</body>
</html>


