<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
    <h1></h1>
    <form id="userForm">
        <div id="genre-questions-container">
            <label>
                <input type="radio" class="radio-button" name="question1" value="1" onchange="submitForm();"> <!--runs submitForm-->
                <span class="radio-button-label">Yes</span>
            </label>
            <label>
                <input type="radio" class="radio-button" name="question1" value="0" onchange="submitForm();"> <!--runs submitForm-->
                <span class="radio-button-label">No</span>
            </label>
        

   
        </div>
    </form>
    <script src="/scripts/form.js"></script>
</body>
</html>


