<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>Genre Map</title>
    <link rel="stylesheet" href="/public/css/bubble.css">
    <script src="../scripts/cosineCalc.js" defer></script>  
    <script src="../scripts/genremap.js" defer></script>
  </head>
  <body>
    <h1>Book Recommendations</h1>
    <button id="generate-recommendations">Generate Recommendations</button> <!--so i can easily get stuff done.-->
    <div id="output"></div>
    <svg id="bubble-map" width="100%" height="800"></svg>
    <div id="book-details"></div>
    <script src="/scripts/d3.v7.min.js"></script>
    
  </body>
</html>