<html>
    <head>
        <link rel="stylesheet" href="/public/css/main.css">
        </head>
  <body>
        <h1>Welcome to Notation+!</h1>
        <i><font size = 1 >An e-reader extension designed to improve your experiences reading!</font></i>
    
        <div class="topnavbar">
              <!-- <a class="active" href="https://www.gutenberg.org/ebooks/search/?sort_order=random" target="_blank" id="randomBook">Random Book of the Day
                </a> -->
                 <a class="active" href="/views/RBOTD.html"> Random Book of the Day </a>
                <a class="active" href="#">| Genre Map</a>
          </div>
          <div class="ls">
            <ul> <font size = 5>
              <a class="button-33" href="/views/user/login.html">Login</a> 
  
              <a class="button-33" href="/views/user/signup.html">Sign Up</a>
          </ul> </font> </div>
  
          <div class = "hmpg">
  
              <p> to save your notes! Or <a class="guest" href="/views/notes.html">Continue as guest</a> </p>
                   
          </div>
        
        <div id="notes"></div>
  </body>
  <script src="/scripts/popup.js"></script>
</html>

