<html>
    <head>
        <link rel="stylesheet" href="/public/css/main.css">
        </head>
  <body>
        <h1>Welcome to Notation+!</h1>
        <i><font size = 1 >An e-reader extension designed to improve your experiences reading!</font></i>
    
        <div class="topnavbar">
              <!-- <a class="active" href="https://www.gutenberg.org/ebooks/search/?sort_order=random" target="_blank" id="randomBook">Random Book of the Day
                </a> -->
                 <a id="randomBook" class="active" href="/views/RBOTD.html"> Random Book of the Day </a>
                <a class="active" href="#">| Genre Map</a>
          </div>
  
          <div class = "hmpg">
  
            <button id="clearPage" style="background:rgb(54, 128, 103);color:white;border:none">DeletAllNotes</button>
            <button id="clearAll" style="background:rgb(54, 128, 103);color:white;border:none">DEV DELETE</button>
            <button id="getAll" style="background:rgb(54, 128, 103);color:white;border:none">DEV GET</button>
    
            <div id="notes"></div>
                   
          </div>
        
        <div id="notes"></div>
  </body>
  <script src="/scripts/popup.js"></script>
  <script src="/scripts/notes.js"></script>
</html>

